.profile-main-container {
    width: 100%; 
    color: #545454;
}




.profile-tiles-container {
    display: flex;
    font-size: medium;
}

.profile-tiles-container h3 {
    padding: .5em;
    padding-top: 1em;
}



.profile-left-tile{
    /* border-right:1px solid #E1E1E1; */
    max-width: 350px;
    padding: 2em;
    padding-left: 0;
}

.profile-right-tile{
    padding: 1em 2em;
    position: relative;
}

.profile-right-tile::before{
    content: '';
    position: absolute;
    background: #E1E1E1;
    height: calc(100% - 4em);
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}




.profile-info-box{
    text-align: left;
    font-weight: bolder;
    width: 100%;
    padding-bottom: .5em;
}
.info-label{
    display: inline-block;
    color: #AAAAAA;
    width: 137px;
    font-weight: 200;
    /* background: aqua; */
    text-align: right;
}

.profile-tiles-container td{
    padding-bottom: .5em;
    font-size: large;
}

.company-heading,.profile-address-details h3 span {
    color: #AAAAAA; 
    font-weight: 200;
}



.profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.border-bottom::after{
    content: '';
    top: 0;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid #E1E1E1;
}

.profile-dp-container {
    display: block;
    width: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    /* margin: 1em; */
}
.profile-dp-container img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}
.profile-address-details{
    text-align: left;
    font-weight: bolder;
    width: 100%;
    padding-bottom: 0.5em;
}


