.user-badge{
    display: flex;
    padding: 0.5em;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
}

.person-image{
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}
.person-image img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.person-name{
    padding: 0 0.8em;
}

