*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Debugging Code */
  /* background-color: rgba(115, 203, 115, 0.154); */
}

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
